body {
    background-color: slategrey;

}

header {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: lemonchiffon;
    text-shadow: 3px 2px #000000;
    text-align: center;
    padding: 3px;
}

.parent {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.child {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    width: 100px;
    height: 40px;
    margin: 0 34.2px 0;
    border: solid;
    border-color: lemonchiffon;
    border-radius: 8px;
    opacity: .80;
}

.child:hover {
    background-color: lightcoral;
}

#brand {
    display: flex;
    align-items: center;
    margin: auto;
    border: groove;
    border-color: lemonchiffon;
    border-radius: 11px;
    width: 600px;
}

p {
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    color: lemonchiffon;
    letter-spacing: 2px;
    text-align: center;
}